body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: var(--size-0);
  background-color: var(--primary-800);
  color: var(--neutral-900);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='900' preserveAspectRatio='none' viewBox='0 0 1920 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1062%26quot%3b)' fill='none'%3e%3crect width='1920' height='900' x='0' y='0' fill='rgba(0%2c 34%2c 92%2c 1)'%3e%3c/rect%3e%3cpath d='M94 900L994 0L1352.5 0L452.5 900z' fill='url(%26quot%3b%23SvgjsLinearGradient1063%26quot%3b)'%3e%3c/path%3e%3cpath d='M657.6 900L1557.6 0L2381.1 0L1481.1 900z' fill='url(%26quot%3b%23SvgjsLinearGradient1063%26quot%3b)'%3e%3c/path%3e%3cpath d='M1823 900L923 0L492.5 0L1392.5 900z' fill='url(%26quot%3b%23SvgjsLinearGradient1064%26quot%3b)'%3e%3c/path%3e%3cpath d='M1280.4 900L380.4000000000001 0L-539.0999999999999 0L360.9000000000001 900z' fill='url(%26quot%3b%23SvgjsLinearGradient1064%26quot%3b)'%3e%3c/path%3e%3cpath d='M1169.9458255253892 900L1920 149.94582552538918L1920 900z' fill='url(%26quot%3b%23SvgjsLinearGradient1063%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 900L750.0541744746108 900L 0 149.94582552538918z' fill='url(%26quot%3b%23SvgjsLinearGradient1064%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1062'%3e%3crect width='1920' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1063'%3e%3cstop stop-color='rgba(25%2c 54%2c 102%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(25%2c 54%2c 102%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1064'%3e%3cstop stop-color='rgba(25%2c 54%2c 102%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(25%2c 54%2c 102%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: top center;
}
main {
  flex: 1;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--size-3);
  max-width: 28ch;
}
h2 {
  font-size: var(--size-2);
  max-width: 36ch;
}
h3 {
  font-size: var(--size-2);
}
a:hover {
  text-decoration: currentColor;
}
p {
  max-width: 70ch;
}
:is(h1, h2, h3) {
  display: flex;
  font-weight: var(--bold);
  gap: 1ch;
  line-height: 1.2;
}
a {
  color: currentColor;
  text-decoration-color: var(--accent-400);
  text-decoration-thickness: 2px;
  text-underline-offset: .2ex;
}
[role=list] {
  margin-bottom: 0;
  padding: 0;
}
::placeholder {
  color: var(--primary-200);
  opacity: 1;
}