---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/Calculator.vue';
import PriceChart from '../components/PriceChart.vue';
import PriceCards from '../components/PriceCards.vue';
import PriceList from '../components/PriceList.vue';
import ElectricityPriceCard from '../components/ElectricityPriceCard.vue';
import ComsumptionGuidance from '../components/ConsumptionGuidance.vue';
---
<Layout title="Calculadora de Consumo Eléctrico | kWh, Costo Diario y Gráfico de Precios en Tiempo Real" description="Calcula el consumo eléctrico de tus electrodomésticos en kWh y euros. Descubre el precio del kWh por horas con nuestro gráfico actualizado y ahorra en tu factura.">
  <div class="text-primary-100 mt-space-l">
    <h1 class="fw-700 text-neutral-50">Calculadora de consumo eléctrico en kWh y € – Ahorra en tu factura</h1>
    <p class="mt-space-m">
      Descubre el consumo energético en euros de tus electrodomésticos introduciendo
      los datos necesarios en el formulario. La calculadora te mostrará
      instantáneamente el coste asociado.
    </p>
    <div class="mt-space-xl">
      <ElectricityPriceCard  client:load />
    </div>
    <div>
      <ComsumptionGuidance client:load/>
    </div>
    <div class="bg-primary-900 p-space-l mt-space-m rounded-md text-neutral-50">
      <Calculator client:load />
    </div>
    <hr class="text-neutral-400 my-space-2xl" />
    <h2 class="fw-700 text-neutral-50 mb-space-s">Evolución precio del kWh España</h2>
    <p class="mb-space-xl text-primary-100">Consulta la evolución del precio del kWh por horas en España y descubre cuáles son las franjas más económicas del día para ahorrar en tu consumo eléctrico. </p>
    <PriceCards client:only />
    <div class="bg-primary-900 px-space-l py-space-l mt-space-s mb-space-3xl rounded-sm">
      <PriceChart client:only  class="desktop-only"/>
      <PriceList client:only  class="mobile-only" />
    </div>
  </div>
</Layout>

<style>
  hr {
   opacity: 0.2;
  }
  .desktop-only {
    display: block;
  }
  
  .mobile-only {
    display: none;
  }

  @media (max-width: 767px) {
    .desktop-only {
      display: none !important;
    }
    
    .mobile-only {
      display: block !important;
    }
  }
</style>
