---
import Layout from '../layouts/Layout.astro';
import Calculator from '../components/Calculator.vue';
import PriceChart from '../components/PriceChart.vue';
import PriceCards from '../components/PriceCards.vue';
import PriceList from '../components/PriceList.vue';
import ComsumptionGuidance from '../components/ConsumptionGuidance.vue';
---
<Layout title="Calculadora de Consumo Eléctrico | kWh, Costo Diario y Gráfico de Precios en Tiempo Real" description="Calcula el consumo eléctrico de tus electrodomésticos en kWh y euros. Descubre el precio del kWh por horas con nuestro gráfico actualizado y ahorra en tu factura.">
  <div class="text-primary-100 mt-space-l">
    <h1 class="fw-700 text-neutral-50">Calculadora online gratuita de consumo eléctrico de electrodomésticos</h1>
    <p class="mt-space-m">
      Con esta calculadora de consumo eléctrico de electrodomésticos online, podrás saber en segundos cuántos kWh y euros gasta tu lavadora, nevera o cualquier aparato.
    </p>
    <p class="mt-space-s">Ideal para hogares y pequeños negocios”) y por qué les ayuda (ahorrar, planificar cargas en horas baratas, etc.)</p>
    <h2 class="mt-space-m text-neutral-50">¿Cómo calcular el consumo en kWh y euros?</h2>
    <p class="mt-space-s">Multiplicamos la potencia (W) por las horas de uso y dividimos entre 1 000 para obtener kWh. Después aplicamos el precio medio actual (con IVA incluido) para mostrar el coste en €.</p>
    <div class="bg-primary-900 p-space-l mt-space-m rounded-md text-neutral-50">
      <Calculator client:load />
    </div>
    <hr class="text-neutral-400 my-space-2xl" />
    <h2 class="fw-700 text-neutral-50 mb-space-s">Evolución precio del kWh España</h2>
    <p class="mb-space-xl text-primary-100">Consulta la evolución del precio del kWh por horas en España y descubre cuáles son las franjas más económicas del día para ahorrar en tu consumo eléctrico. </p>
    <PriceCards client:only />
    <div class="bg-primary-900 px-space-l py-space-l mt-space-s mb-space-3xl rounded-sm">
      <PriceChart client:only  class="desktop-only"/>
      <PriceList client:only  class="mobile-only" />
    </div>
  </div>
</Layout>

<style>
  hr {
   opacity: 0.2;
  }
  .desktop-only {
    display: block;
  }
  
  .mobile-only {
    display: none;
  }

  @media (max-width: 767px) {
    .desktop-only {
      display: none !important;
    }
    
    .mobile-only {
      display: block !important;
    }
  }
</style>
