---

import Layout from '../layouts/Layout.astro';
import Calculator from '../components/Calculator.vue';
import PriceChart from '../components/PriceChart.vue';
import ActualPriceDisplay from '../components/ActualPriceDisplay.vue';
import PriceCards from '../components/PriceCards.vue';
---
<Layout title="Calculadora de Consumo Eléctrico" description="Calcula el consumo eléctrico de tus electrodomésticos y su coste asociado.">
  <div class="text-primary-100 mt-space-2xl">
    <h1 class="fw-700 text-neutral-50">Calculadora de consumo eléctrico</h1>
    <p class="mt-space-s">
      Descubre el consumo energético de tus electrodomésticos introduciendo
      los datos necesarios en el formulario. La calculadora te mostrará
      instantáneamente el coste asociado.
    </p>
    <div class="bg-primary-900 p-space-l mt-space-l rounded-sm">
      <Calculator client:only />
    </div>
    <hr class="text-neutral-400 my-space-2xl" />
    <h2 class="fw-700 text-neutral-50">Evolución precio del kWh por horas</h2>
    <div class="mb-space-2xs">
      <ActualPriceDisplay client:only />
    </div>
    <p class="mb-space-l">Consulta la evolución del precio del kWh por horas en España y descubre cuáles son las franjas más económicas del día para ahorrar en tu consumo eléctrico. </p>
    <PriceCards client:only />
    <div class="bg-primary-900 px-space-l pt-space-l mt-space-s mb-space-3xl rounded-sm">
      <PriceChart client:only/>
    </div>
  </div>
</Layout>

<style>
  hr {
   opacity: 0.2;
  }
</style>
