---
interface Props {
  data: {
    question: string;
    answer: string;
  }[];
}
const {data} = Astro.props

---

<section class="faq-section text-neutral-50">
  <h2>Preguntas frecuentes</h2>
  {data.map(({ question, answer }) => (
    <details class="faq-item mt-space-s">
      <summary class="faq-question"><Fragment set:html={question}/></summary>
      <div class="faq-answer text-primary-100">
        <Fragment set:html={answer} />
      </div>
    </details>
  ))}
</section>

<style>
.faq-section {
  margin: 2rem 0;
  max-width: 800px;
}
.faq-item {
  border-bottom: 1px solid var(--primary-200);
  padding: 1rem 0;
}
.faq-question {
  font-weight: bold;
  cursor: pointer;
}
.faq-answer {
  margin-top: 0.5rem;
}
</style>
