---
import { lightBulb } from "../assets/imgs/";
---
<header class="bg-primary-900">
    <div class="container">
        <div class="header-price py-space-s text-primary-100 text-center">
            <div class="d-flex">
                <img src={lightBulb.src} width={lightBulb.width / 2} alt="light_bulb" class="header-price__logo" />
                <p class="fw-700">Precio electricidad: <span class="header-price__price">0,2756 €</span> /kWh <span class="header-price__currency fw-500"> - Última actualización: 26/3/2025, 19:55:20</span> </p>
            </div>
        </div>
    </div>
</header>