//https://piccalil.li/blog/how-i-build-a-button-component/
@use "../abstracts" as *;


.btn {
  @include generate-css-variables($button, "button-");
  border: var(--button-border-width);
  color: var(--button-color-text);
  background-color: var(--button-bg-color);
  display: inline-flex;
  align-items: center;
  gap: var(--button-gap,0.5em);
  padding: var(--button-padding,0.7em 1.2em);
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  
  text-decoration: none;
  font-weight: var(--button-font-weight, 700);
  font-size: var(--button-font-size, 1em);
  letter-spacing: 0.05ch;
  font-family: sans-serif;
  line-height: 1.1;
  cursor: pointer;

  & svg {
    height: var(--button-icon-size, 1.2cap);
    width: auto;
    flex: none;
  }

  &:hover {
    background: var(--button-bg-color-hover);
    color: var(--button-color-text-hover);
    border-color: var(--button-bg-color-hover);
  }
  
  &:focus {
    outline-width: var(--button-outline-width, var(--button-border-width));
    outline-style: var(--button-outline-style, var(--button-border-style));
    outline-color: var(--button-outline-color, var(--button-border-color));
    outline-offset: var(
      --button-outline-offset,
      calc(var(--button-border-width) * 2)
    );
  }

  &:active{
    transform: scale(98%);
  }

  &[data-type="primary"] {
   --button-bg-color:var(--primary-900);
   --button-color-text:var(--primary-50);
   --button-border-color:var(--primary-900);
   --button-border-color-hover:var(--button-bg-color-hover);
   --button-bg-color-hover:var(--primary-700);
   --button-color-text-hover:var(--neutral-50);
   --button-outline-color:var(--button-bg-color-hover);
  }
  &[data-type="accent"] {
   --button-bg-color:var(--accent-500);
   --button-color-text:var(--neutral-50);
   --button-border-color:var(--accent-500);
   --button-border-color-hover:var(--button-bg-color-hover);
   --button-bg-color-hover:var(--accent-400);
   --button-color-text-hover:var(--neutral-50);
   --button-outline-color:var(--button-bg-color-hover);
  }

  &[data-type="ghost"] {
    --button-bg-color:transparent;
    --button-color-text:var(--neutral-900);
    --button-border-color:currentColor;
    --button-bg-color-hover:var(--neutral-900);
    --button-color-text-hover:var(--neutral-50);
  }

  &[data-size="small"]{
    --button-font-size:var(--size--1);
  }

}
