@use '../abstracts/' as *;
.header-price{
    --horizontal-alignment:center;
    --gutter:var(--space-s);
    @include breakpoint(md){
        --gutter:var(--space-l);
    }
    &__now{
        --gutter:var(--space-2xs);
    }
    &__price{
       color: var(--accent-500);
    }
    &__currency{
        font-size: 1rem;
        font-weight: normal;
       
    }
}