---
import BaseLayout from './BaseLayout.astro';
import Footer from '../components/Footer.astro';
import '../sass/style.scss';
import Nav from '../components/Nav.astro';
import ElectricityPriceHeader from '../components/ElectricityPriceHeader.vue';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <!-- Transfer slots to BaseLayout -->
  <slot name="head" slot="head" />
<!--   <HeaderPrice /> -->
  <ElectricityPriceHeader client:load />
  <div id="nav-wrapper" class="nav-wrapper mt-space-xl">
	  <Nav />
  </div>
  
  <main>
    <div class="container">
      <slot /> 

    </div>
  </main>
  
  <Footer /> 
</BaseLayout>

<style>
  #nav-wrapper.nav--scrolled {
    position: sticky;
    top: 0;
    left: 0;
  background-color: var(--primary-900);
  padding-block: var(--space-s);
  z-index: 50;
  transition: 0.3s ease;
  }
}
</style>

<script>
// Seleccionamos el contenedor con verificación de nulidad
const navWrapper = document.getElementById('nav-wrapper');

if (navWrapper) {
  // Escuchamos el evento de scroll
  window.addEventListener('scroll', () => {
    // scrollY te da los píxeles recorridos verticalmente
    if (window.scrollY > 100) {
      navWrapper.classList.add('nav--scrolled');
    } else {
      navWrapper.classList.remove('nav--scrolled');
    }
  });
} else {
  console.warn('⚠️ No se encontró el elemento con id "nav-wrapper"');
}

</script>
