---
import BaseLayout from './BaseLayout.astro';
import HeaderPrice from '../components/HeaderPrice.astro'; 
import Footer from '../components/Footer.astro';
import '../sass/style.scss';
import Nav from '../components/Nav.astro';
import ElectricityPriceHeader from '../components/ElectricityPriceHeader.vue';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <!-- Transfer slots to BaseLayout -->
  <slot name="head" slot="head" />
<!--   <HeaderPrice /> -->
  <ElectricityPriceHeader client:load />
  <div class="mt-space-xl">
	  <Nav />
  </div>
  
  <main class="container">
    <slot />
  </main>
  
<!--   <Footer /> -->
</BaseLayout>
