---
import BaseLayout from './BaseLayout.astro';
import Footer from '../components/Footer.astro';
import '../sass/style.scss';
import Nav from '../components/Nav.astro';
import ContractedPower from '../components/ContractedPower.vue';
import CookieBanner from '../components/CookieBanner.vue';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} lang="es" description={description}>
  <!-- Transfer slots to BaseLayout -->
  <slot name="head" slot="head" />
  <div class="header-nav-wrapper">
    <ContractedPower client:only="vue"/>
  </div>
  <div class="nav-wrapper py-space-m">
    <Nav />
  </div>

  <main>
    <div class="container">
      <slot />
    </div>
  </main>

  <Footer />
  <CookieBanner client:load />
</BaseLayout>

<style>
  .nav-wrapper {
    transition: 0.3s ease;
  }
  .nav-wrapper.nav--scrolled {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--primary-900);
    z-index: 50;
    transition: 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .header-nav-wrapper {
    border-bottom: 1px solid var(--primary-800);
  }
</style>

<script>
  // Seleccionamos el contenedor con verificación de nulidad
  const navWrapper = document.querySelector('.nav-wrapper');

  if (navWrapper) {
    // Escuchamos el evento de scroll
    window.addEventListener('scroll', () => {
      // scrollY te da los píxeles recorridos verticalmente
      if (window.scrollY > 100) {
        navWrapper.classList.add('nav--scrolled');
      } else {
        navWrapper.classList.remove('nav--scrolled');
      }
    });
  } else {
    console.warn('⚠️ No se encontró el elemento con id "nav-wrapper"');
  }
</script>
