---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const { id } = Astro.params;

// Obtener todas las entradas de la colección tipsyguias
const allTips = await getCollection('tipsyguias');
// Buscar la entrada que coincida con el slug
const post = allTips.find((entry) => entry.id === id);

// Si no se encuentra el post, lanzar un error o redirigir
if (!post) {
  return Astro.redirect('/404'); // O puedes lanzar un error aquí, como prefieras
}

//Options
const options: Intl.DateTimeFormatOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};

const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description ?? ''}>
  <div class="post-tips-guias | mt-space-3xl prose flow text-neutral-50 m-space-auto">
      <a href="/tipsyguias" class="d-block mb-space-l"> ← Volver</a>
      <time datetime={post.data.date?.toISOString()}>
        {post.data.date?.toLocaleDateString(undefined, options)}
    </time>

    <h1 class="text-neutral-50">{post.data.title}</h1>
    <Content />
  </div>
</Layout>
