---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const tips = await getCollection('tipsyguias');
const conical = 'https://calculatuluz.es/tips-y-guias'
---

<Layout
  title="Tips y guías"
  description="Guías y consejos para optimizar el consumo eléctrico de tu hogar." conical={conical}>
  <h1 class="fw-700 text-neutral-50 mt-space-2xl">Tips y guías</h1>
  <ul role="list" class="text-neutral-50 prose flow">
    {
      tips.map((item) => (
        <li>
          <a class="fw-500 text-size-1" href={`/tipsyguias/${item.id}`}>{item.data.title}</a>
          <p>{item.data.description}</p>
        </li>
      ))
    }
  </ul>
</Layout>
